@{
    ViewBag.Title = "Bill Williams - My Portfolio";
}
<h2>Who is your daddy and what does he do?</h2>
<p>My name is Bill Williams! I'm a web developer specializing in the Microsoft stack. Despite this, I still care and am passionate about web standards and code quality. You won't find me dragging controls onto a design surface.</p>
<p>I have over 10 years of experience with all aspects of development from front to back and everything in between. As part of my day job, I deal with server setup and administration of several windows servers, including IIS 7 and Sql Server 2005. I program in c# and asp.net 4 in webforms (blech). HTML5 + CSS3 + some jQuery love rounds out the front end.</p>
<p>I far prefer developing in asp.net MVC these days and would love the opportunity to work in it full time and leave the horrible abstraction of webforms behind forever.</p>
<p>You can check out @Html.ActionLink("my portfolio", "Portfolio") and then <a href="mailto:malevolence@gmail.com">email me</a> and offer me a job! Seriously, I have mad skills. You won't regret it.</p>