<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
		<add name="SiteCN" providerName="System.Data.SqlClient" connectionString="Data Source=.\SqlExpress;Initial Catalog=MalevolenceMVC;Integrated Security=True"/>
  </connectionStrings>

  <appSettings>
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/> 
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SiteCN"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="MalevolenceMVC" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="SiteCN" applicationName="MalevolenceMVC" />
      </providers>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SiteCN" applicationName="MalevolenceMVC" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
	  <httpRuntime maxRequestLength="20480"/>
    <pages>
      <namespaces>
		<add namespace="System.Web.Helpers" />
		<add namespace="System.Web.Mvc" />
		<add namespace="System.Web.Mvc.Ajax" />
		<add namespace="System.Web.Mvc.Html" />
		<add namespace="System.Web.Routing" />
		<add namespace="System.Web.WebPages"/>
		<add namespace="Malevolence.Core.Models"/>
		<add namespace="Malevolence.Web.Models"/>
		<add namespace="Malevolence.Web.Helpers"/>
		<add namespace="PagedList"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
	  <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
		  <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
		  <staticTypes>
			  <add mimeType="text/*" enabled="true" />
			  <add mimeType="message/*" enabled="true" />
			  <add mimeType="application/javascript" enabled="true" />
			  <add mimeType="application/json" enabled="true" />
			  <add mimeType="*/*" enabled="false" />
		  </staticTypes>
	  </httpCompression>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
	  <urlCompression doStaticCompression="true"/>
	  <staticContent>
		  <!-- Set expire headers to 30 days for static content-->
		  <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />

		  <!-- use utf-8 encoding for anything served text/plain or text/html -->
		  <remove fileExtension=".css" />
		  <remove fileExtension=".js" />
		  <remove fileExtension=".json" />
		  <remove fileExtension=".rss" />
		  <remove fileExtension=".html" />
		  <remove fileExtension=".xml" />
		  <mimeMap fileExtension=".css" mimeType="text/css" />
		  <mimeMap fileExtension=".js" mimeType="text/javascript; charset=UTF-8" />
		  <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
		  <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
		  <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
		  <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />

		  <!-- HTML5 Video mime types-->
		  <remove fileExtension=".mp4"/>
		  <remove fileExtension=".m4v"/>
		  <remove fileExtension=".ogg"/>
		  <remove fileExtension=".ogv"/>
		  <remove fileExtension=".webm"/>
		  <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
		  <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
		  <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
		  <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
		  <mimeMap fileExtension=".webm" mimeType="video/webm" />

		  <!-- Proper svg serving. Required for svg webfonts on iPad -->
		  <remove fileExtension=".svg"/>
		  <remove fileExtension=".svgz"/>
		  <mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
		  <mimeMap fileExtension=".svgz" mimeType="images/svg+xml" />

		  <!-- HTML4 Web font mime types -->
		  <!-- Remove default IIS mime type for .eot which is application/octet-stream -->
		  <remove fileExtension=".eot" />
		  <remove fileExtension=".otf" />
		  <remove fileExtension=".woff" />
		  <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
		  <mimeMap fileExtension=".otf" mimeType="font/otf" />
		  <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
	  </staticContent>
	  <httpProtocol>
		  <customHeaders>
			  <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
		  </customHeaders>
	  </httpProtocol>
	  <!--
	  <rewrite>
		  <rules>
			  <rule name="Remove WWW" stopProcessing="true">
				  <match url="^(.*)$" />
				  <conditions>
					  <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
				  </conditions>
				  <action type="Redirect" url="http://nayyeri.net{PATH_INFO}" redirectType="Permanent" />
			  </rule>
		  </rules>
	  </rewrite>
	  -->
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
